// Define variables for your color scheme

// For example:
$purple: #BC63F8;
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #333333;
$light-gray: #F5F5F5;
$white: #FFFFFF;
$black: #000000;
