<div class="discovery-hero">
  <div class="container">
    <h1>Discover what the other users have created and connect with them</h1>
    <p class="lead">Inspire each other, connect, exchange, grow together.</p>
  </div>
</div>

<div class="discovery-grid-section">
  <div class="container">
    <div class="users-grid">
      <% User.all.each do |user| %>
        <%= render partial: "user_card", locals: { user: user } %>
      <% end %>
    </div>
</div>



<%# --- Bouton Load more (si on n’a pas tout affiché) --- %>
<%# <% per_page = 12 %>
   <%# shown    = page * per_page %>
   <%# has_more = total && shown < total %>

<%# <% if has_more %>
  <%# <div class="load-more"> %>
    <%# <%= link_to "Load more", %>
                <%# discovery_path(page: page + 1), %>
                <%# class: "btn btn-primary", %>
                <%# data: { turbo_frame: "users" } %>
  <%# </div> %>
<%# <% end %>
