<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.discordapp.net/attachments/1262947336863354900/1294272571457667103/se7en92_one_black_sister_stylish_and_one_biracial_stylish_broth_0a7708c4-5aa3-4222-84ec-f78757f0c2d9.png?ex=6888bbc3&is=68876a43&hm=e0ae0ba8bbdee5652fe0318a3acb46c18fba7215c2a168cba5cd5e4a09cea74a&=&format=webp&quality=lossless&width=967&height=967);">
  <div class="container">
    <h1>BrandMeUp</h1>
    <p>Make your brand image shine brighter with our personal styling kits!</p>
    <%= link_to "Brand. Me. UP!", "/register", class: "btn btn-flat" %>
  </div>
</div>

<div class="banner" style="background-color: #BC63F8;">
  <div class="container">
    <h2>The best solution for your personal branding</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum doloribus nobis suscipit. Iure cumque omnis veritatis obcaecati ex possimus fuga autem suscipit excepturi unde, laudantium, ipsum aliquid esse corrupti. Nam.</p>
    <%= link_to "Brand. Me. UP!", "/register", class: "btn btn-flat" %>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.discordapp.net/attachments/1262947336863354900/1294184794569179147/se7en92_a_young_biracial_fashion_entrepreneur_in_front_of_an_ec_eff52344-34dc-462a-838a-dc88e9365c16.png?ex=688912c3&is=6887c143&hm=9e692e5b68b0ecf2e5bfda4658c9973fd5b2c1cb04d5af47a3034bc27272858f&=&format=webp&quality=lossless&width=967&height=967);">
  <div class="container">
    <h2>BrandMeUp makes you shine like a diamond</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum doloribus nobis suscipit. Iure cumque omnis veritatis obcaecati ex possimus fuga autem suscipit excepturi unde, laudantium, ipsum aliquid esse corrupti. Nam.</p>
    <%= link_to "Shine brighter!", "/register", class: "btn btn-flat" %>
  </div>
</div>
