.banner {
  backdrop-filter: contrast(80%);
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  width: 100%;
  height: 600px;
}

.banner h1 {
  margin: 20px 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  margin: 20px 0 30px 0;
  color: white;
  // opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

// Section styling for space

// I separate the section class from the banner

.section {
  width: 100%;
  min-height: 500px;
  padding: 50px;
}
