.btn.btn-flat {
  color: white;
  padding: 8px 24px;
  // border: 2px solid $charcoal;
  border-radius: 4px;
  background: #8572FF;
  // transition: background 0.3s ease;
}

.btn.btn-flat:hover {
  background: #7BAEDC;
  color: white;
}

.btn-second {
  background: $indigo;
  color: $charcoal;
}

// .btn-light {
//   background: $broken-white;
//   color: $charcoal;
// }
