@media(min-width: 576px) {
  li.nav-item.active {
    display: flex;
    align-items: center;
  }
}

.nav-item {
  margin: auto 16px;
}

.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  height: 75px;
  width: auto;
}

.nav-link {
  color: $charcoal;
  margin: 5px 10px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.nav-link:hover{
  background-color: $indigo;
  color: $charcoal;
  font-weight: bold;
  border-radius: 4px;
}
