<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= content_for?(:title) ? yield(:title) : "Outfit" %></title>
  <%= wicked_pdf_stylesheet_link_tag "pdf" %>
</head>
<body class="pdf">
  <%= yield %>
</body>
</html>
